<html>
<body>
<form method="post" action="/predict">
    <input type="number" name="preg" placeholder="Pregnancies" required="required" >
    <input type="number" name="glucose" placeholder="Glucose" required="required" step="0.01">
    <input type="number" name="bp" placeholder="Blood Pressure" required="required" step="0.01">
    <input type="number" name="skin" placeholder="Skin Thickness" required="required" step="0.01">
    <input type="number" name="insulin" placeholder="Insulin" required="required" step="0.01">
    <input type="number" name="bmi" placeholder="BMI" required="required" step="0.01">
    <input type="number" name="dpf" placeholder="Diabetes Pedigree Function" required="required" step="0.001">
    <input type="number" name="age" placeholder="Age" required="required">
    <button>Submit</button>
</form>
</body>
</html>